
<style>
    main{
        min-height:100vh;
        flex-direction:column;
        display:flex;
    }
    .cart{
        height:100vh;
        justify-content:center;
        display:flex;
        align-items:center;
    }
</style>


<div class="cart">
    <div class="row text-center container">
        <div class="col-6 offset-3">
            <img src="/imgs/emptycart.e7858caa.svg" alt="Alternate Text" class="img-fluid mb-4" />
            <h4>Your Cart Is Emty</h4>
        </div>
    </div>
</div>
<footer>
    <div class="box text-center">
        <p>
            <img src="/imgs/footerlogo.19a797d2.svg" alt="">
            Cheezious Copyright © 2024. All Rights Reserved.
        </p>
        <p>
            <a href="">
                TERMS & CONDITIONS
            </a> |
            <a href="">
                Privacy policy
            </a>
        </p>
    </div>
</footer>
