@using Cheezious.Models
@model User

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/css/Roles.css" rel="stylesheet" />

<section id="login" class="container">
    <form asp-action="AddUpdateUsers" asp-controller="Admin" method="post" enctype="multipart/form-data">
        <h4 class="text-center text-uppercase">Add Users</h4>
        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Enter Name" asp-for="Name">
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Enter Email" asp-for="Email">
        </div>
        <div class="input-group">
            <label for="Password">Password</label>
            <input type="text" id="Password" placeholder="Enter Password" asp-for="Password">
        </div>
        <div class="input-group">
            <label for="PhoneNumber">PhoneNumber</label>
            <input type="text" id="PhoneNumber" placeholder="Enter PhoneNumber" asp-for="PhoneNumber">
        </div>
        <div class="input-group">
            <label for="Address">Address</label>
            <input type="text" id="Address" placeholder="Enter Address" asp-for="Address">
        </div>
      
        <div class="input-group">
            <label >Roles</label>
            <select asp-for="RoleId" asp-items="ViewBag.Roles">
                <option>Select Roles</option>
                
            </select>
        </div>
        <div class="input-group">
            <label class="text-center fw-bold">Upload Image</label>
            <label for="img" class="selectimg">
                <img class="imagePreview" src="/imgs/selectimgs.png"  alt="Image Preview">
            </label>
            <input type="file" name="file" class="imageUpload d-none" accept="image/*" id="img">
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {

                <div>

                    <p class="text-danger">
                        @ViewBag.Error
                    </p>
                </div>
            }
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" >Save</button>
        </div>
    </form>
</section>


<script src="~/js/project-proposal.js"></script>

