@using Cheezious.Models
@model Roles


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div class="View">
    <div class="container p-5">
        <h2 class="fw-bold mb-3">Roles</h2>
        <p class="fs-4" style="font-weight:600;letter-spacing:0.60px">@Model.Name</p>
    </div>
</div>


